<div>
    <div class="row px-0">
        <div class="col-4 px-0">
            <div>
                <img src="" alt="">
            </div>
            <div><span>CONTACT ME</span></div>
        </div>
        <div class="col-8 px-0">
            <div>
                <span>Hello.</span>
                <span>I'm</span>
                <span>John Harrie</span>
            </div>
            <div>
                <i></i>
                <span>ABOUT ME</span>
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse<br>
                ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel<br>
                facilisis.<br>
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
                tempor incididunt ut labore et dolore magna aliqua. Quis ip<br>
                Lorem ipsum dolor sit amet, consectetur adipiscing aliqua. Quis ip<br>
            </div>
            <div>
                <div>
                    <i></i>
                    <span>+4-756-822-5156</span>
                </div>
                <div>
                    <i></i>
                    <span>www.yourwebsite.com</span>
                </div>
                <div>
                    <i></i>
                    <span>1173 Valley Street</span>
                </div>
            </div>
        </div>
    </div>
</div>