$bg-light: #f0f0f0;
$text-dark: #333333;
$accent: #ff6600;

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex($gap: 0) {
  display: flex;
  gap: $gap;
}

@mixin text($size, $color: $text-dark, $weight: 400) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

%line-base {
  background-color: $bg-light;
  height: 5px;
}

.h-line {
  @include size(102.4%, 25px);
  background-color: $bg-light;
  margin-left: -13px;
}

.dis {
  margin-top: 70px;
  display: flex;
}

.h-line-2 {
  @extend %line-base;
  width: 100px;
  margin-left: -13px;
}

.h-line-3 {
  @extend %line-base;
  width: 300px;
  margin-left: 50px;
}

.h-line-4 {
  @extend %line-base;
  width: 181px;
  margin-right: -20px;
}

.skil {
  @include flex(15px);
  margin-top: -15px;
  margin-left: 15px;
}

.skil-2 {
  @include flex(15px);
  margin-top: -15px;
  margin-left: 50px;
  margin-right: 20px;
}

.skills-pad {
  padding-left: 110px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.language-pad {
  padding-top: 60px;
  padding-right: 10px;
  margin-left: -50px;
  padding-bottom: 50px;
}

.language-name {
  @include text(14px, $text-dark, 400);
  line-height: 14px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  gap: 30px 10px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.name-skill {
  @include text(26px, $text-dark, bold);
  text-transform: uppercase;
}

.skill span {
  @include text(16px, $text-dark, 500);
}

.skill input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  @include size(120px, 10px);
  background: #d3d3d3;
  outline: none;
  overflow: hidden;

  &::-webkit-slider-runnable-track {
    background: #d3d3d3;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    box-shadow: -200px 0 0 200px $accent;
  }
}

.circle-wrapper {
  padding-top: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.circle {
  @include size(74px, 74px);
  position: relative;

  svg {
    @include size(74px, 74px);
    transform: rotate(0deg);
  }
}

circle {
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;

  &:first-child {
    stroke: #ddd;
  }

  &:last-child {
    stroke: $accent;
    stroke-dasharray: 186;
    stroke-dashoffset: calc(186 - (186 * var(--percent)) / 100);
    transition: stroke-dashoffset 1s ease;
  }
}

.value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include text(15px, $text-dark, bold);
}

@media (max-width: 1024px) {
  .skills-pad {
    padding-left: 40px;
  }

  .language-pad {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .dis {
    flex-direction: column;
    gap: 20px;
  }

  .skills-pad,
  .language-pad {
    padding-left: 20px;
  }

  .skil,
  .skil-2 {
    margin-left: 0;
  }
}
