.h-line{
  width: 102.4%;
  height: 25px;
  background-color: #f0f0f0;
  margin-left: -13px;
}

.dis{
  margin-top: 70px;
  display: flex;
}

.h-line-2{
  margin-left: -13px;
  width: 100px;
  height: 5px;
  background-color: #f0f0f0;
}

.h-line-3{
  width: 300px;
  height: 5px;
  background-color: #f0f0f0;
  margin-left: 50px ;
}

.h-line-4{
  width: 181px;
  height: 5px;
  background-color: #f0f0f0;
  margin-right: -20px;
}

.skil{
  display: flex;
  gap:  15px;
  margin-top: -15px;
  margin-left: 15px;
}

.skil-2{
  display: flex;
  gap:  15px;
  margin-top: -15px;
  margin-left: 50px;
  margin-right: 20px;
}

.skills-pad{
  padding-left: 110px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.language-pad{
  padding-top: 60px;
  padding-right: 10px;
  margin-left: -50px;
  padding-bottom: 50px;
}

.language-name{
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  font-weight: 400;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  gap: 30px 10px;
}

.name-skill{
  font-size: 26px;
  text-transform: uppercase;
  color: #333333;
  font-weight: bold;
}

.skill span {
  font-weight: 500;
  font-size: 16px;
}

.skill input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 120px;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  overflow: hidden;
}

.skill input[type="range"]::-webkit-slider-runnable-track {
  background: #d3d3d3;
}

.skill input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  box-shadow: -200px 0 0 200px #ff6c00;
}

.circle-wrapper {
  padding-top: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.circle {
  width: 74px;
  height: 74px;
  position: relative;
}

.circle svg {
  width: 74px;
  height: 74px;
  transform: rotate(0deg);
}

circle {
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
}

circle:first-child {
  stroke: #ddd;
}

circle:last-child {
  stroke: #ff6600;
  stroke-dasharray: 186;
  stroke-dashoffset: calc(186 - (186 * var(--percent)) / 100);
  transition: stroke-dashoffset 1s ease;
}

.value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: bold;
}




