<div>
    <div class="h-line"></div>
    <div class="dis">
        <div class="h-line-2"></div>
        <div class="skil">
            <i class="fa-solid fa-gear" style="font-size: 38px; color: #ff6c00;"></i>
            <span class="name-skill">MY SKILLS</span>
        </div>
        <div class="h-line-3"></div>
        <div class="skil-2">
            <i class="fa-solid fa-language" style="font-size: 38px; color: #ff6c00;"></i>
            <span class="name-skill">LANGUAGE</span>
        </div>
        <div class="h-line-4"></div>
    </div>
    <div class="row px-0">
        <div class="col-8 skills-pad">
            <div id="skills" class="skills"></div>
        </div>
        <div class="col-4 language-pad">
            <div style="display: flex; gap: 35px; text-align: center; margin-left: 17px">
                <div class="language-name">
                    <div>Spanish</div>
                    <div>&</div>
                    <div>French</div>
                </div>
                <div class="language-name">
                    <div>German</div>
                    <div>&</div>
                    <div>Japanese</div>
                </div>
                <div class="language-name">
                    <div>English</div>
                    <div>&</div>
                    <div>Portuguese</div>
                </div>
                <div class="language-name">
                    <div>Persian</div>
                    <div>&</div>
                    <div>Quechua</div>
                </div>
            </div>
            <div style="display: flex">
                <div class="circle-wrapper">
                    <div class="circle">
                        <svg>
                            <circle cx="33" cy="33" r="30"></circle>
                            <circle cx="33" cy="33" r="30" style="--percent: 65"></circle>
                        </svg>
                        <div class="value">65%</div>
                    </div>
                </div>

                <div class="circle-wrapper">
                    <div class="circle">
                        <svg>
                            <circle cx="33" cy="33" r="30"></circle>
                            <circle cx="33" cy="33" r="30" style="--percent: 70"></circle>
                        </svg>
                        <div class="value">70%</div>
                    </div>
                </div>

                <div class="circle-wrapper">
                    <div class="circle">
                        <svg>
                            <circle cx="33" cy="33" r="30"></circle>
                            <circle cx="33" cy="33" r="30" style="--percent: 85"></circle>
                        </svg>
                        <div class="value">85%</div>
                    </div>
                </div>

                <div class="circle-wrapper">
                    <div class="circle">
                        <svg>
                            <circle cx="33" cy="33" r="30"></circle>
                            <circle cx="33" cy="33" r="30" style="--percent: 68"></circle>
                        </svg>
                        <div class="value">68%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>