<div class="content-pad">
    <div class="row px-0">
        <div class="col-4 px-0">
            <div style="display:flex; gap: 15px; padding-bottom: 50px; margin-left: -15px">
                <div class="bg"><i class="fa-solid fa-graduation-cap"></i></div>
                <span class="text-1">MY EDUCATION</span>
            </div>
            <div class="timeline">
                <div class="item">
                    <div class="title">MASTER OF CREATIVEARTS</div>
                    <div class="place">University Name <span class="data">2018 - Present</span></div>
                    <div class="text">
                        Lorem ipsum dolor sit amet,<br>
                        consectetur adipiscing elit, sed<br>
                        do eiusmod facilisis.
                    </div>
                </div>
                <div class="item">
                    <div class="title">MASTER OF DESIGN</div>
                    <div class="place">University Name <span>2015 – 2017</span></div>
                    <div class="text">
                        Lorem ipsum dolor sit amet,<br>
                        consectetur adipiscing elit, sed<br>
                        do eiusmod facilisis.
                    </div>
                </div>
                <div class="item">
                    <div class="title">MARKETING OFFICER</div>
                    <div class="place">University Name <span>2010 – 2012</span></div>
                    <div class="text">
                        Lorem ipsum dolor sit amet,<br>
                        consectetur adipiscing elit, sed<br>
                        do eiusmod facilisis.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 px-0" style="margin-left: 40px">
            <div style="display:flex; gap: 15px; padding-bottom: 50px;">
                <i class="fa-solid fa-user-tie" style="color: #ff6600; font-size: 28px;"></i>
                <span class="text-1">WORK EXPERIENCE</span>
            </div>
            <div class="timeline">

                <div class="item">
                    <div class="title" style="display: flex; justify-content: space-between;">WEB DESIGNER <span class="date">2018 – Present</span></div>
                    <div class="comp">Company Name / Location</div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis<br>
                        ipsum suspendisse ultrices gravida. Risus commodo viverra.
                    </div>
                </div>

                <div class="item">
                    <div class="title" style="display: flex; justify-content: space-between;">GRAPHIC DESIGNER<span class="date">2015 – 2018</span></div>
                    <div class="comp">Company Name / Location</div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis<br>
                        ipsum suspendisse ultrices gravida. Risus commodo viverra.
                    </div>
                </div>

                <div class="item">
                    <div class="title" style="display: flex; justify-content: space-between;">MARKETING MANAGER<span class="date">2010 – 2015</span></div>
                    <div class="comp">Company Name / Location</div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis<br>
                        ipsum suspendisse ultrices gravida. Risus commodo viverра.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>