<div>
    <div class="row px-0">
        <div class="col-4 px-0">
            <div>
                <i></i>
                <span>MY EDUCATION</span>
            </div>
            <div>
                <div>MASTER OF CREATIVEARTS</div>
                <div>University Name <span>2018 - Present</span></div>
                <div>Lorem ipsum dolor sit amet,<br>
                    consectetur adipiscing elit, sed<br>
                    do eiusmod facilisis.</div>
            </div>
            <div>
                <div>MASTER OF DESIGN</div>
                <div>University Name <span>2015 – 2017</span></div>
                <div>Lorem ipsum dolor sit amet,<br>
                    consectetur adipiscing elit, sed<br>
                    do eiusmod facilisis.</div>
            </div>
            <div>
                <div>MARKETING OFFICER</div>
                <div>University Name <span>2010 – 2012</span></div>
                <div>Lorem ipsum dolor sit amet,<br>
                    consectetur adipiscing elit, sed<br>
                    do eiusmod facilisis.</div>
            </div>
        </div>
        <div class="col-8 px-0">
            <div>
                <i></i>
                <span>WORK EXPERIENCE</span>
            </div>
            <div>
                <div>WEB DESIGNER<span>2018 – Present</span></div>
                <div>Company Name / Location</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis<br>
                    ipsum suspendisse ultrices gravida. Risus commodo viverra.</div>
            </div>
            <div>
                <div>GRAPHIC DESIGNER<span>2015 – 2018</span></div>
                <div>Company Name / Location</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis<br>
                    ipsum suspendisse ultrices gravida. Risus commodo viverra.</div>
            </div>
            <div>
                <div>MARKETING MANAGER<span>2010 – 2015</span></div>
                <div>Company Name / Location</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis<br>
                    ipsum suspendisse ultrices gravida. Risus commodo viverra.</div>
            </div>
        </div>
    </div>
</div>