$container-bg: #fff;
$shadow-dark: rgba(0, 0, 0, 0.25);
$shadow-light: rgba(0, 0, 0, 0.12);
$border-color: rgba(0, 0, 0, 0.05);
$radius: 5px;
$max-width: 1100px;

@mixin shadow($color1, $color2) {
  box-shadow:
          0 30px 60px $color1,
          0 10px 22px $color2;
}

.hei {
  height: 1400px;
}

.container {
  background: $container-bg;
  border-radius: $radius;
  @include shadow($shadow-dark, $shadow-light);
  border: 1px solid $border-color;
  max-width: $max-width;
  width: 80%;
  position: relative;

  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
    flex: 0 0 auto;
  }
}
